@import "./variables.scss";

html {
    background: $backgroundColor;
}

html, body {
    margin: 0;
    padding: 0;
    width: 450px;
    min-height: 450px;
}

* {
    font-family: "Roboto", Roboto, Open Sans, Helvetica Neue, Helvetica, Google Sans, Arial, sans-serif;
    box-sizing: border-box;
}
