@import "./variables.scss";

html {
    margin: 0;
    padding: 0;
    width: 450px;
    height: 600px;

    background: $backgroundColor;
    border-radius: 2em;
}

body {
    margin: 0;
    height: 0;
    border-radius: 2em;
}

* {
    font-family: "Roboto", Roboto, Open Sans, Helvetica Neue, Helvetica, Google Sans, Arial, sans-serif;
    box-sizing: border-box;
}
