$backgroundColor: #151B40;
$primaryColor: #fff;
$secondaryColor: #C7C7C7;
$desktopExtensionWidth: 500px;

:export {
    primaryColor: $primaryColor;
    secondaryColor: $secondaryColor;
    backgroundColor: $backgroundColor;
}
